button {
  padding: 0.625rem 1.25rem;
  background-color: var(--c-brand-1);
  color: var(--c-white);
  border: transparent;
  border-radius: 0.75rem;
}

button:hover {
  transition: 0.6s;
  background-color: var(--c-brand-hover);
}
